<template>
  <ParentLayout>
    <GlobalFooter slot="page-bottom"/>
  </ParentLayout>
</template>

<script>
import ParentLayout from '@parent-theme/layouts/Layout.vue'
import GlobalFooter from '@theme/components/GlobalFooter.vue'
export default {
  components: {
    ParentLayout,
    GlobalFooter
  }
}
</script>