<template>
    <section class="chapter-cover">
        <h1 class="title">{{ $page.title }}</h1>
        <div class="description">
            <Content/>
        </div>
    </section>
</template>