<template>
  <aside class="author-profile-item">
    <strong class="author-heading"><span v-if="authorTitle" class="author-title">{{ authorTitle }}： </span><span class="author-name">{{ authorName }}</span></strong>
    <div class="author-description">
      <slot></slot>
    </div>
  </aside>
</template>

<script>
export default {
  props: ['authorName', 'authorTitle'],
  computed: {
    isSlotAssigned(){
      if(this.$slots.default && this.$slots.default.length > 0){
        return this.$slots.default[0].text;
      }
      return false;
    }
  }
};
</script>
