@charset "utf-8";


.break-word {
    word-break: break-all;
}

.small {
    font-size: 80%
}

.author-comment {
    position: relative;
    background-color: #ffbcbc;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    page-break-inside: avoid;
    font-size: 80%;

    &::before {
        position: absolute;
        left: -5px;
        top: 1rem;
        content: "";
        display: block;
        transform: skewX(45deg);
        width: 10px;
        height: 10px;
        background-color: #ffbcbc;
    }
}

.donate {
    margin-top: 1rem; 
    border-radius: 0.5rem; 
    padding: 0.5rem; 
    background-color: #EEE; 
    font-size: 80%; 
    page-break-inside: avoid;
    word-break: break-all;
    text-align: center;
    &::after{
        content: "";
        display: table;
        clear: both;
    }
    p {
        text-indent: 0 !important;
    }
    table 
    {
        margin-top: 0.5rem; 
        table-layout: fixed; 
        width: 100%;
        border:none;
        tr {
            border: none;
        }
        td {
            box-sizing: border-box;
            text-align: left;
            border:none;
            width: 50%;
        }
        td:first-of-type { 
            padding-right: 0.5rem;
        }
    }
    img {
        width: 6em; 
        margin-right: 0.5rem; 
        float: left;
    }
}

.print {

    p {
        text-indent: 1rem;
    }

    li>p {
        text-indent: 0;
    }

    .no-indent p {
        text-indent: 0;
    }

    a {
        text-decoration: none;
        color: black;
    }

    code {
        display: block;
        margin-inline-start: 0;
        margin-inline-end: 0;
        margin-block-start: 2em;
        margin-block-end: 2em;
        padding: 1em 1em;
        background-color: lightgray;
        word-break: break-all;
        font-family: "源ノ等幅", "Source Han Mono", "Source Han Code JP", monospace;

    }

    pre {
        white-space: pre-wrap;
        font-family: "源ノ等幅", "Source Han Mono", "Source Han Code JP", monospace;
    }

    .break-before {
        page-break-before: always;
    }

    .break-after {
        page-break-after: always;
    }

    .header-anchor,
    .outbound,
    .web-only { 
        display: none !important; 
    }

    table {
        border-collapse: collapse;
    }

    img {
        max-width:  100%;
        image-resolution: 300dpi;
    }

    .low-resolution-image-container img {
        image-resolution: 72dpi;
    }


    figure {
        box-sizing: border-box;
        width: 100%;
        margin-block-start: 1em;
        margin-block-start: 1em;
        margin-inline-start: 0;
        margin-inline-end: 0;
        text-align: center;
    }
    figure>figcaption {
        text-align: center;
    }
    figure>img {
        min-width: 1px;
        max-width: 100%;
        margin: 0 auto;
    }

    .chapter-cover {
        page-break-before: right;
        background-color: #ffbcbc;
        margin: 2cm -1000px 0 1cm;
        padding: 0.5cm 1000px 0.5cm 0;
        text-align: right;
    }

    .section-header {
        .author {
            text-align: right;
        }
    }

    .author-profile {
        .author-heading {
            font-weight: bolder;
        }
        .author-description {
            margin-left: 1em;
            p {
                text-indent: 0;
            }
        }
    }


    
    .img-fullpage {
        page-break-after: avoid;
        position: absolute;
        top: calc(-15mm - 3mm);
        left: calc(-15mm - 3mm);
        min-height: calc(210mm + 6mm)
        max-width: calc((148mm + 6mm));
        object-fit:  cover;
        
    }

    .illust-section
    {
        page-break-inside: avoid;

        .section-header {
            display: none;
        }

        .content {
            margin: 0;
            padding: 0;
        }

        .poem
        {
            page-break-before: always;
            line-height: 2em;
            text-align: center;

            margin: 50px 0;

            h2 { font-weight: normal; }

        }

        .author-profile {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    .novel-section {
        .dialogue {
            text-indent: 0;
        }
    }
    .colophon-section
    {
        page-break-before: left;

        font-size: 80%;

        .section-header {
            display: none;
        }

        .section-content {
            position: absolute;
            left: 0;
            bottom: 0;
        }

        .book-title {
        }

        .print-history {
            width: 100%;
            table-layout: fixed;
            border-top: 1px solid black;
            
            .date {
                width: 100px;
            }
        }

        .book-credit {
            width: 100%;
            table-layout: fixed;
            border-bottom: 1px solid black;
            
            th {
                width: 100px;
                text-align-last: justify;
                padding: 0 1em;
                font-weight: normal;
                vertical-align: top;
                box-sizing: border-box;
            }

            td {
                width: auto;
            }
        }
    }
        
    .frontcover
    {
        page-break-after: always;

        .section-header {
            display: none;
        }

        .content {
            margin: 0;
            padding: 0;
        }

    }
    
        
    .backcover
    {
        page-break-before: left;

        .section-header {
            display: none;
        }

        .content {
            margin: 0;
            padding: 0;
        }

    }
}